$border-radius: .2rem;
$error-bg-color: #FAE3E6;
$error-border-color: #ee2222;
$primary-bg-color: #572781;
$secondary-color: #BE008A;
$secondary-green-color: #B4F200;
$additional-color: #FFF400;
$additional-orange-color: #FFBF40;