@import "../../styles/variables";
@import "../../styles/mixins";

.main-menu {
  height: 100%;
  @include place();
  flex-direction: column;

  .title {
    margin: 5rem 0;
    font-size: 2rem;
  }

  &__container {
    flex: 1;
    @include place(center, flex-start);
    flex-direction: column;
    gap: 1rem;
    min-width: 15rem;

    a {
      margin-bottom: 1rem;
      width: 100%;
      button {
        width: 100%;
        @include button()
      }
    }
    .exit-button {
      width: 100%;
      @include button(white, black)
    }
  }
}
